<!-- SITE TITTLE -->
<% provide(:title, "Cart Page") %>

<%= render('light_section') %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix cartListWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cartListInner">
          <form action="#">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>商品名</th>
                    <th>価格</th>
                    <th>数</th>
                    <th>小計</th>
                  </tr>
                </thead>
                <tbody>
                  <% @products.each do |product| %>
                    <tr>
                      <td class="col-xs-2">
                        <button type="button" class="close">
                          <span><%= link_to '×', potepan_order_path(params[:id], product_id: product.id), method: :delete %></span>
                        </button>
                        <span class="cartImage"><%= image_tag product.display_image.attachment.url(:small) , :alt => product.name %></span>
                      </td>
                      <td class="col-xs-4"><%= product.name %></td>
                      <td class="col-xs-2"><%= (product.price * 110).to_i %>円</td>
                      <td class="col-xs-2"><input type="text" id='<%= product.id %>' placeholder="<%= 1 %>"></td>
                      <td class="col-xs-2"><%= (product.price * 110).to_i %>円</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
              <div class="updateArea">
                <%= link_to 'アップデート', potepan_order_path(params[:id]), class: 'btn'%>
              </div>
              <div class="totalAmountArea">
                <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                  <ul class="list-unstyled">
                    <li>小計 <span><%= @item_total %>円</span></li>
                    <li>消費税 <span><%= (@item_total * 0.08).to_i %>円</span></li>
                    <li>総計 <span class="grandTotal"><%= (@item_total * 1.08).to_i %>円</span></li>
                  </ul>
                </div>
              </div>
            <div class="checkBtnArea">
              <a href="/potepan/checkout_step_1.html" class="btn btn-primary btn-block">購入する<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
