<!-- SITE TITTLE -->
<% provide(:title, "お届け先情報登録") %>

<%= render 'shared/page_header', { title: 'お届け先情報', active: 'お届け先情報'} %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix stepsWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="innerWrapper clearfix stepsPage">
          <div class="row progress-wizard" style="border-bottom:0;">
            <div class="col-xs-4 progress-wizard-step complete">
              <div class="text-center progress-wizard-stepnum">お届け先情報</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <i class="progress-wizard-dot"></i>
            </div>
            <div class="col-xs-4 progress-wizard-step disabled">
              <div class="text-center progress-wizard-stepnum">お支払い方法</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <i class="progress-wizard-dot"></i>
            </div>
            <div class="col-xs-4 progress-wizard-step disabled">
              <div class="text-center progress-wizard-stepnum">入力内容確認</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <i class="progress-wizard-dot"></i>
            </div>
          </div>
          <%= form_for(@checkout, url: step1_potepan_order_path) do |f| %>
            <div id="error_box_to_otodoke" style='text-align:center'>
              <%= render 'shared/error_messages', object: f.object %>
            </div>
            <div class="col-xs-12">
              <div class="page-header">
                <h4>入力フォーム</h4>
              </div>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <%= f.label :name, '名前' %>
              <%= f.text_field 'name', class: 'form-control' %>
              <div class='use_checkbox'><%= check_box_tag :check_name %></div>
              <div class='use_checkbox_label'><%= f.label :check_name, "登録済みの名前を使う" %></div>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <%= f.label :email, 'メールアドレス' %>
              <%= f.text_field 'email', class: 'form-control' %>
              <div class='use_checkbox'><%= check_box_tag :check_email %></div>
              <div class='use_checkbox_label'><%= f.label :check_email, "登録済みのメールアドレスを使う" %></div>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <%= f.label :postal, '郵便番号' %>
              <%= f.text_field 'postal', class: 'form-control' %>
              <div class='use_checkbox'><%= check_box_tag :check_postal %></div>
              <div class='use_checkbox_label'><%= f.label :check_postal, "登録済みの郵便番号を使う" %></div>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <%= f.label :streetaddress, '住所' %>
              <%= f.text_field 'streetaddress', class: 'form-control' %>
              <div class='use_checkbox'><%= check_box_tag :check_streetaddress %></div>
              <div class='use_checkbox_label'><%= f.label :check_streetaddress, "登録済みの住所を使う" %></div>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <%= f.label :phone, '電話番号' %>
              <%= f.text_field 'phone', class: 'form-control' %>
              <div class='use_checkbox'><%= check_box_tag :check_phone %></div>
              <div class='use_checkbox_label'><%= f.label :check_phone, "登録済みの電話番号を使う" %></div>
            </div>
            <div class="col-xs-12">
              <div class="well well-lg clearfix">
                <ul class="pager">
                  <li class="previous"><%= link_to '戻る', potepan_order_path(params[:id]) %></li>
                  <li class="next"><%= f.submit('次へ', class: 'use_data_submit') %></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
