<div class="col-md-9 col-sm-8 col-xs-12">
  <div class="row">
    <h3>現在の検索条件</h3>
    <% @filtered_key.each do |key, value| %>
       <li><%= key %>：<%= value %></li>
    <% end %>
  </div>
  <div class="row filterArea">
    <div class="col-xs-4">
      <select name="guiest_id1" id="guiest_id1" class="select-drop">
        <% @numbers.zip(@sort_list) do |number, sort| %>
          <option value="<%= number %>" class='sort_tag' id="<%= number %>"><%= sort %></option>
        <% end %>
      </select>
    </div>
    <div class="col-xs-4">
      <div class="btn-group pull-right" role="group">
        <%= link_to potepan_category_path(params[:id]) do %>
          <button type="button" class="btn btn-default">
            <span>リセット</span>
          </button>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="btn-group pull-right" role="group">
        <%= link_to potepan_category_path(params[:id], format: "grid",
                                                       type: params[:type],
                                                       color: params[:color]
                                          ) do %>
          <button type="button" class="btn btn-default <%= "active" if grid_type? %>">
            <i class="fa fa-th-list" aria-hidden="true"></i><span>グリッド</span>
          </button>
        <% end %>
        <%= link_to potepan_category_path(params[:id], format: "list",
                                                       type: params[:type],
                                                       color: params[:color]
                                          ) do %>
          <button type="button" class="btn btn-default <%= "active" if list_type? %>">
            <i class="fa fa-th-list" aria-hidden="true"></i><span>リスト</span>
          </button>
        <% end %>
      </div>
    </div>
  </div>

  <!-- JS用のhiddenデータ -->
  <input type='hidden' value="<%= params[:id] %>" class='id_data'>
  <input type='hidden' value="<%= params[:color] %>" class='color_data'>
  <input type='hidden' value="<%= params[:size] %>" class='size_data'>
  <input type='hidden' value="<%= params[:min] %>" class='min_data'>
  <input type='hidden' value="<%= params[:max] %>" class='max_data'>

  <% if list_type? %>
    <div class="row productListSingle">
      <%= render partial: 'product_for_list', collection: products, as: :product %>
    </div>
  <% elsif grid_type? %>
    <div class="row">
      <%= render partial: 'product_for_grid', collection: products, as: :product %>
    </div>
  <% end %>
</div>
