<div class="col-md-9 col-sm-8 col-xs-12">
  <div class="row filterArea">
    <div class="col-xs-6">
      <select name="guiest_id1" id="guiest_id1" class="select-drop">
        <option value="0">人気が高い</option>
        <option value="1">発売日が新しい</option>
        <option value="2">発売日が古い</option>
        <option value="3">値段が安い</option>
        <option value="3">値段が高い</option>
      </select>
    </div>
    <div class="col-xs-6">
      <div class="btn-group pull-right" role="group">
        <%= link_to potepan_category_path(params[:id], format: "grid",
                                                       type: params[:type],
                                                       color: params[:color]
                                          ) do %>
          <button type="button" class="btn btn-default <%= "active" if grid_type? %>">
            <i class="fa fa-th-list" aria-hidden="true"></i><span>グリッド</span>
          </button>
        <% end %>
        <%= link_to potepan_category_path(params[:id], format: "list",
                                                       type: params[:type],
                                                       color: params[:color]
                                          ) do %>
          <button type="button" class="btn btn-default <%= "active" if list_type? %>">
            <i class="fa fa-th-list" aria-hidden="true"></i><span>リスト</span>
          </button>
        <% end %>
      </div>
    </div>
  </div>

  <% if list_type? %>
    <div class="row productListSingle">
      <%= render partial: 'product_for_list', collection: products, as: :product %>
    </div>
  <% elsif grid_type? %>
    <div class="row">
      <%= render partial: 'product_for_grid', collection: products, as: :product %>
    </div>
  <% end %>
</div>
