<div class="panel panel-default">
  <div class="panel-heading">CATEGORIES & BRANDS</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% @taxonomies.each do |taxonomy| %>
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#<%= taxonomy.id %>">
            <%= taxonomy.name %><i class="fa fa-plus"></i></a>
          <ul id="<%= taxonomy.id %>" class="collapse collapseItem">
            <% taxonomy.root.children.each do |taxon| %>
            <% if taxon.taxonomy_id == taxonomy.id %>
            <li>
              <%= link_to potepan_category_path(taxon.id) do %>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <%= taxon.name %>
              <% end %>
            </li>
            <% end %>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
