<!-- SITE TITTLE -->
<% provide(:title, @taxon.name) %>
<%= render 'page_header' %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'filter_by_taxon' %>
        <%= render 'filter_by_price' %>
        <%= render 'filter_by_color' %>
        <%= render 'filter_by_size' %>
      </div>
      <%= render 'products_index' %>
    </div>
  </div>
</section>
<%= render 'bottom_light' %>
