<div class="row singleProduct">
  <div class="col-xs-12">
    <div class="media">
      <div class="media-left productSlider">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% product.images.each.with_index do |img, i| %>
            <div class="item <%= "active" if i.zero? %>" data-thumb="<%= i %>">
              <%= image_tag img.attachment.url(:large)  %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="clearfix">
          <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              <% product.images.each.with_index do |img, i| %>
              <div data-target="#carousel" data-slide-to="<%= i %>" class="thumb">
                <%= image_tag img.attachment.url(:small) %>
              </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="media-body">
        <ul class="list-inline">
          <li>
            <%= link_to potepan_category_path(product.taxons.first.root.id) do %>
              <i class="fa fa-reply" aria-hidden="true"></i>商品一覧に戻る
            <% end %>
          </li>
          <!-- <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Share This</a></li> -->
        </ul>
        <h2><%= product.name %></h2>
        <h3><%= (product.price * 110).to_i %>円</h3>
        <p><%= product.description %></p>
        <span class="quick-drop">
          <select name="guiest_id3" id="guiest_id3" class="select-drop">
            <option value="0">S</option>
            <option value="1">M</option>
            <option value="2">L</option>
            <option value="3">XL</option>
          </select>
        </span>
        <span class="quick-drop resizeWidth">
          <select name="guiest_id4" id="guiest_id4" class="select-drop">
            <!--   <option value="0">Qty</option> -->
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </span>
        <div class="btn-area">
          <%= link_to potepan_orders_path(id: product.id ), method: :post, remote: true, class: 'btn btn-primary btn-block', id: 'ajax_into_cart' do %>
            カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="tabArea">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#details">詳細情報</a></li>
            <li><a data-toggle="tab" href="#review">レビュー</a></li>
            <li><a data-toggle="tab" href="#shipping">配送方法</a></li>
            <li><a data-toggle="tab" href="#others">その他</a></li>
          </ul>
          <div class="tab-content">
            <div id="details" class="tab-pane fade in active">
              <table>
                <% product_properties.each do |product_property| %>
                <tr>
                  <td class="detail_list"><strong><%= product_property.property.presentation %></strong></td>
                  <td class="detail_list"><%= product_property.value %></td>
                </tr>
                <% end %>
              </table>
            </div>
            <div id="review" class="tab-pane fade">
              <p>かなり良い！</p>
            </div>
            <div id="others" class="tab-pane fade">
              <p>期間限定で割引実施中</p>
            </div>
            <div id="shipping" class="tab-pane fade">
              <p>配送方法は佐川急便を予定</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
