<%= render 'banner' %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'popular_category' %>
    <%= render 'new_products' %>
    <%= render 'useful_articles' %>
  </div>
</section>
<%= render 'shared/bottom_light' %>
