<div class="productImage clearfix">
  <%= image_tag product.display_image.attachment.url(image_size) , :alt => product.name %>
  <div class="productMasking">
    <ul class="list-inline btn-group" role="group">
      <li>
        <%= link_to add_favorite_potepan_product_path(product.id), class: 'btn btn-default' do %>
          <i class="fa fa-heart"></i>
        <% end %>
      </li>
      <li>
        <%= link_to potepan_orders_path(id: product.id ), method: :post, remote: true, class: 'btn btn-default' do %>
          <i class="fa fa-shopping-cart"></i>
        <% end %>
      </li>
      <li><a class="btn btn-default quick_view_button" data-toggle="modal" id="<%= product.id %>"><i class="fa fa-eye"></i></a></li>
    </ul>
  </div>
</div>
<div class="productCaption clearfix">
  <%= link_to potepan_product_path(product) do %>
    <h5><%= product.name %></h5>
  <% end %>
  <h3><%= (product.price * 110).to_i %>円</h3>
</div>
