<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>POPULAR CATEGORIES</h4>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" onclick="location.href='potepan/categories/<%= @shirts.id %>';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-01.jpg", :alt => "feature-collection-image") %>
        <div class="masking">
          <%= link_to "View Shirts", potepan_category_path(@shirts.id), class: "btn viewBtn" %>
        </div>
      </div>
      <div class="caption">
        <h4>Shirts</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" onclick="location.href='potepan/categories/<%= @bags.id %>';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-02.jpg", :alt => "feature-collection-image") %>
        <div class="masking">
          <%= link_to "View Bags", potepan_category_path(@bags.id), class: "btn viewBtn" %>
        </div>
      </div>
      <div class="caption">
        <h4>Bags</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" onclick="location.href='potepan/categories/<%= @mugs.id %>';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-03.jpg", :alt => "feature-collection-image") %>
        <div class="masking">
          <%= link_to "View Lifestyle", potepan_category_path(@mugs.id), class: "btn viewBtn" %>
        </div>
      </div>
      <div class="caption">
        <h4>Lifestyle</h4>
      </div>
    </div>
  </div>
</div>
