<div class="row latestArticles">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>USEFUL ARTICLES</h4>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="thumbnail">
      <h5><%= link_to "BLOG_1", potepan_blog_single_right_sidebar_path %></h5>
      <span class="meta">2016/9/16</span>
      <%= link_to image_tag("home/articles/articles-01.jpg", :alt => "article-image"), potepan_blog_single_right_sidebar_path %>
      <div class="caption">
        <p>Article Body</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="thumbnail">
      <h5><%= link_to "BLOG_2", potepan_blog_single_right_sidebar_path %></h5>
      <span class="meta">2016/9/16</span>
      <%= link_to image_tag("home/articles/articles-02.jpg", :alt => "article-image"), potepan_blog_single_right_sidebar_path %>
      <div class="caption">
        <p>Article Body</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="thumbnail">
      <h5><%= link_to "BLOG_3", potepan_blog_single_right_sidebar_path %></h5>
      <span class="meta">2016/9/16</span>
      <%= link_to image_tag("home/articles/articles-03.jpg", :alt => "article-image"), potepan_blog_single_right_sidebar_path %>
      <div class="caption">
        <p>Article Body</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="thumbnail">
      <h5><%= link_to "BLOG_4", potepan_blog_single_right_sidebar_path %></h5>
      <span class="meta">2016/9/16</span>
      <%= link_to image_tag("home/articles/articles-04.jpg", :alt => "article-image"), potepan_blog_single_right_sidebar_path %>
      <div class="caption">
        <p>Article Body</p>
      </div>
    </div>
  </div>
</div>
