<% provide(:title, "ダッシュボード") %>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>アカウント設定</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to 'Home', potepan_path %>
          </li>
          <li class="active">アカウント設定</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="mainContent clearfix aboutUsInfo">
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h3 class='user_head'>登録情報</h3>
        <h4 class="pull-right"><%= link_to '編集', edit_potepan_user_path, id: 'user_edit_link' %></h4>
      </div>
      <p class="user_data">名前 : <%= @user.name %></p>
      <p class="user_data">メールアドレス : <%= @user.email %></p>
      <p class="user_data">電話番号 : <%= @user.phone %></p>
      <p class="user_data">郵便番号 : <%= @user.postal %></p>
      <p class="user_data">住所 : <%= @user.streetaddress %></p>
    </div>
  </div>
</section>
<section class="mainContent clearfix aboutUsInfo">
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h3 class='user_head'>お気に入りに登録した商品</h3>
      </div>
    </div>
  </div>
</section>
<section class="mainContent clearfix aboutUsInfo">
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h3 class='user_head'>注文履歴</h3>
      </div>
    </div>
  </div>
</section>
