<!-- HEADER -->
<div class="header clearfix">
  <!-- TOPBAR -->
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
          <ul class="list-inline">
            <li><a href="/potepan/unfinished"><i class="fa fa-twitter"></i></a></li>
            <li><a href="/potepan/unfinished"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
        <% if logged_in? %>
          <ul class="list-inline pull-right">
            <li><span>
              <%= link_to 'アカウント設定', potepan_user_path(session[:user_id]) %>
              <%= link_to "ログアウト", potepan_logout_path, method: :delete %>
            </span></li>
            <!-- <li><span><a data-toggle="modal" href='#login'>ログイン</a><span> </span><a data-toggle="modal" href='#signup'>新規作成</a></span></li> -->
          </ul>
        <% else %>
          <ul class="list-inline pull-right">
            <li><span>
              <%= link_to 'ログイン', potepan_login_path %>
              <%= link_to '新規登録', new_potepan_user_path %>
            </span></li>
            <!-- <li><span><a data-toggle="modal" href='#login'>ログイン</a><span> </span><a data-toggle="modal" href='#signup'>新規作成</a></span></li> -->
          </ul>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("img/logo.png", :alt => ""), potepan_path, class: "navbar-brand" %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown megaDropMenu <% if home_page? %> active <% end %> ">
            <%= link_to "トップページ", potepan_path %></li>
          <li class="dropdown megaDropMenu <% if shop_page? %> active <% end %> ">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">お買い物</a>
            <ul class="dropdown-menu row">
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>全ての商品</li>
                  <li><%= link_to 'グリッド表示', potepan_category_path(1, format: "grid") %></li>
                  <li><%= link_to 'リスト表示', potepan_category_path(1, format: "list") %></li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>カテゴリから</li>
                  <% @taxons.each do |taxon| %>
                    <li><%= link_to taxon.name, potepan_category_path(taxon.id) %></li>
                  <% end %>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>ブランドから</li>
                  <% @brands.each do |brand| %>
                    <li><%= link_to brand.name, potepan_category_path(brand.id) %></li>
                  <% end %>
                </ul>
              </li>
              <% if logged_in? %>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>カート</li>
                  <li><%= link_to '中身を確認', potepan_order_path(@order_id) %></li>
                  <li><%= link_to '購入手続きに進む', step1_potepan_order_path(@order_id) %></li>
                </ul>
              </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
