<!-- LOGIN MODAL -->
<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">ログイン</h3>
      </div>
      <div class="modal-body">
        <%= form_tag('/potepan/unfinished', role: 'form') do %>
          <div class="form-group">
            <%= label_tag 'メールアドレス' %>
            <%= text_field_tag :email, '', { class: 'form-control', id: 'login-email'} %>
          </div>
          <div class="form-group">
            <%= label_tag 'パスワード' %>
            <%= text_field_tag :password, '', { class: 'form-control', id: 'login-password'} %>
          </div>
          <div class="checkbox">
            <%= label_tag '' %>
            <%= check_box_tag :checkbox %>
            パスワードを保存
          </div>
          <button type="submit" class="btn btn-primary btn-block">ログイン</button>
          <button type="submit" class="btn btn-link btn-block">パスワードを忘れた場合</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- SIGN UP MODAL -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">新規作成</h3>
      </div>
      <div class="modal-body">
        <%= form_tag('/potepan/unfinished', role: 'form') do %>
          <div class="form-group">
            <%= label_tag 'メールアドレス' %>
            <%= text_field_tag :email, '', { class: 'form-control', id: 'signyp-email'} %>
          </div>
          <div class="form-group">
            <%= label_tag 'パスワード' %>
            <%= text_field_tag :password, '', { class: 'form-control', id: 'signup-password'} %>
          </div>
          <div class="form-group">
            <%= label_tag 'パスワードの確認' %>
            <%= text_field_tag :password, '', { class: 'form-control', id: 'signup-password-confirmation'} %>
          </div>
          <button type="submit" class="btn btn-primary btn-block">新規登録</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- PORDUCT QUICK VIEW MODAL -->
<% if controller.controller_name == 'home' %>
<%= render partial: 'layouts/modal_quick_view', collection: @lated_products, as: 'product' %>
<% end %>

<% if controller.controller_name == 'categories' %>
<%= render partial: 'layouts/modal_quick_view', collection: @products, as: 'product' %>
<% end %>

<% if controller.controller_name == 'products' %>
<%= render partial: 'layouts/modal_quick_view', collection: @related_products, as: 'product' %>
<% end %>

<!-- Ajax message -->
<div class='ajax_message'>
  <div class="ajax_comment"></div>
</div>
