<!DOCTYPE html>
<html>
  <head>
    <title>Potepanec</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <!-- 開発環境のみデバッグ情報を表示する -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
