<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head.html.erb' %>
  </head>
  <body>
    <%= render 'layouts/header.html.erb' %>
    <%= yield %>
    <%= render 'layouts/footer.html.erb' %>
    <%= render 'layouts/copy_right.html.erb' %>
    <!-- 開発環境のみデバッグ情報を表示する -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
