<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <!-- PLUGINS CSS STYLE -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <%= render 'layouts/head.html.erb' %>
  </head>
  <body>
    <%= render 'layouts/header.html.erb' %>
    <%= yield %>
    <%= render 'layouts/footer.html.erb' %>
    <%= render 'layouts/copy_right.html.erb' %>
    <!-- 開発環境のみデバッグ情報を表示する -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
